{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <button type="submit">Soumettre</button>
    {{ form_end(form) }}
{% endblock %}
