{% extends 'base.html.twig' %}

{% block title %}Communes{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <h1>Les belles communes de {{ departement.nom }}!</h1>

    <div>
        <ul>
            {% for commune in communes %}
                <li>
                    {{ commune.nom }}
                </li>
            {% endfor %}
        </ul>
        <a href="{{ path('depByReg', {'codeReg':communes[0].codeRegion}) }}">
            <button>
                Retour departement
            </button>
        </a>
    </div>

{% endblock %}
